[2017-09-15 06:28] ashjha1 opened #1 "In US state list there is 2 entry " New Jersey and New Jersy " ,I think New Jersy is just spelling mistake"

[2017-12-10 15:42] nitinsh99 commented on #1
Getting the same issue. Can the author please fix it?

[2018-02-25 06:15] DillonStreator commented on #1
Unfortunately, I don't believe that this is the only issue here.
There are 60 states appearing for the US..
New Mexico, Byram, Cokato?

I do wonder if this repo is still active at all.

[2018-04-19 12:27] harpreetkhalsagtbit commented on #1
1194ebf71d362e984fccea35d6644fbe71039400

[2018-04-19 12:28] #1 closed

[2018-12-25 17:33] mikylebaksh opened #2 "getCountryById, getStateById, getCityById all returns incorrect information"
getCountryById(), getStateById(), and getCityById() returns incorrect information. It will always return the record 1 ahead of the intended.

This is because these methods are access the country, state, and city arrays by index instead finding by id.

Reproduce:

[code]

[2018-12-26 15:12] gutoccs opened #3 "Can not find a city (Caracas capital of Venezuela) and the name of the state is wrong"
Hi!

The name of the state is wrong. Indicates **Distrito Federal** (id: 4029) when it is **Distrito Capital**. It is a state of Venezuela (id: 237). https://en.wikipedia.org/wiki/Capital_District_(Venezuela). Observation: It is **Distrito Capital** in Spanish.

**Caracas** does not appear. **Caracas** belongs to the **Distrito Capital** (id: 4029) and is the **capital of Venezuela** (id: 237).

T

[2019-01-08 14:20] roksollc commented on #2
I encountered the same problem, corrected it, and submitted a pull request.

[2019-01-15 13:46] harpreetkhalsagtbit opened #5 "Insert these new data using their valid index"
{
	"id": "48357",
	"name": "Abbotsford",
	"state_id": "664"
  },
  {
	"id": "48358",
	"name": "Armstrong",
	"state_id": "664"
  },
  {
	"id": "48359",
	"name": "Burnaby",
	"state_id": "664"
  },
  {
	"id": "48360",
	"name": "Campbell River",
	"state_id": "664"
  },
  {
	"id": "48361",
	"name": "Castlegar",
	"state_id": "664"
  },
  {
	"id": "48362",
	"name": "Chilliwack",
	"state_id": "664"
  },

[2019-01-15 13:51] harpreetkhalsagtbit commented on #5
https://github.com/stephen-communo/country-state-city/commit/b0d384ba417a96faea5e36397f7d3a0b2e6d9f37

https://github.com/stephen-communo/country-state-city/commit/c88375ba9ad3237666e710a509485545736633ba

https://github.com/stephen-communo/country-state-city/commit/da9e5e976c881f2ce44b06cae9714eeffdd7dbda

[2019-01-15 13:52] harpreetkhalsagtbit opened #6 "Add Test cases - using Jest"

[2019-01-18 06:39] #2 closed

[2019-01-18 08:04] harpreetkhalsagtbit commented on #3
Added  `Distrito` Federal as `Distrito Federal/Capital District` both name supported for now

[2019-01-18 09:58] #3 closed

[2019-01-18 09:58] #5 closed

[2019-01-18 09:58] #6 closed

[2019-04-09 20:45] baywet opened #10 "switching to typescript and/or type definition?"
Hey!
Thanks for putting together this project.
Would you consider switching to typescript or at least adding type definitions?
This way we'd have compile time validation.

[2019-04-22 08:47] harpreetkhalsagtbit commented on #10
@baywet
Yes definitely, let me know how to proceed?

[2019-04-22 12:23] baywet commented on #10
At a high level:
1. rename index.js to index.ts
1. you might have code modifications suggestions from your IDE to improve maintainability and more, apply those (might be optional depending on the code)
1. `npm i typescript -D`
1. add a `"types": "index.ts"` entry in your package.json
1. add a `"build": "tsc -p tsconfig.json"` in the `scripts` section of your package.json
1. add a `tsconfig.json` a

[2019-04-25 11:24] kebuxton opened #11 "Not all Australian City and Suburbs are included"
Not all Australian City and Suburbs are included, for example simply Sydney or Suburb in Sydney Mosman, Suburb in Melbourne, Beaumaris etc

[2019-05-05 13:52] harpreetkhalsagtbit commented on #10
@baywet
please check this branch
https://github.com/harpreetkhalsagtbit/country-state-city/tree/switch-to-typescript

I tested locally installing this package but it installs lib and node_modules also. It should not include these files to publish. Can you please guide me on this. I have used .npmingore.

[2019-05-05 15:34] harpreetkhalsagtbit commented on #11
Can you please mention all the missing things in the comment. I will add them.

[2019-05-05 15:47] harpreetkhalsagtbit commented on #10
check this P.R #12

[2019-05-14 12:30] baywet commented on #10
fixed by #12

[2019-05-14 12:30] #10 closed

[2019-05-24 09:35] harpreetkhalsagtbit opened #14 "Use types interface for Country, State, City Object"
from: [@baywet](https://github.com/baywet)

Just as a follow up, today I upgraded some of my production projects to this latest version.
Works well and is definitively an improvement over the previous version.

However I have an additional suggestion, today methods have an implicit return type or implicit any. If you declared interfaces for country and state, that'd allow consumers to leverage tho

[2019-05-24 15:30] karanpratapsingh opened #16 "Does this work with react native ?"
Does this work with react native?

[2019-05-25 19:13] harpreetkhalsagtbit commented on #16
haven't tried yet. You please give it a try and let us know.

[2019-05-26 09:18] karanpratapsingh commented on #16
@harpreetkhalsagtbit I tried it doesn't work, Error: maximum call stack reached

[2019-05-26 09:18] #16 closed

[2019-05-28 06:30] #14 closed

[2019-06-12 00:24] karljv opened #17 "Need to request states by country code"
giving only a getStatesOfCountry( _id: number ) function to fetch the list of states per country, where _id is a proprietary numeric ID of that country, is a bad idea.

Most databases have their own country id-s already built into them and there should be an option to getStatesOfCountryByCountryCode( _code: string ) option.

Where for example _code === "US", which is standardised and environment i

[2019-06-19 12:13] harpreetkhalsagtbit commented on #17
@karljv, Sure.
Will definitely release an API for that in next release.

[2019-06-20 16:56] wkoutre commented on #16
@karanpratapsingh You can use my fork: https://github.com/wkoutre/country-state-city.git

I ran into `Error: maximum call stack reached`, and so I stripped out the loading of `cityList`, and updated the README in my fork, accordingly, removing the inclusion of the affected methods:

- getCityById
- getCitiesOfState

For my project, this is all I need. Hope it helps!

[2019-06-20 18:12] maharjanaman opened #18 "Usage with react native"
When I use this library with react native projects, I'm getting this `Maximum call stack size exceeded` error. So is this not usable for react natives?

[2019-06-26 21:53] gdm85 opened #19 "Duplicate italian region"
There are two regions for Italy, `Abruzzo` and `Abruzzi`, which should be only `Abruzzo`.

You can find the full list (20) here: https://it.wikipedia.org/wiki/Regioni_d%27Italia#Dati_demografici_e_geografici

[2019-07-09 13:00] harpreetkhalsagtbit commented on #18
Someone forked this repo to fix this issue
Please check,
https://github.com/wkoutre/country-state-city

[2019-08-30 02:04] jacobthomasdpr opened #20 "Incorrect states USA, South Africa"
Extra incorrect states in USA, south africa 60 states,  few of them are incorrect  e.g state 'Cokato' in USA

[2019-09-07 06:36] #17 closed

[2019-09-07 06:45] harpreetkhalsagtbit commented on #19
Wiki says this

In 1963 the Abruzzi and Molise region was again separated in the two regions of Abruzzo and Molise, bringing the current number of regions to 20.

https://it.wikipedia.org/wiki/Regioni_d%27Italia#Dati_demografici_e_geografici

[2019-09-07 10:08] gdm85 commented on #19
Yes, but there is no more "Abruzzi". You have to look at the current list.

[2019-09-07 12:30] harpreetkhalsagtbit opened #22 "Need to change data structure of Countries, state, cities from array form to object form"
Need to change the data structure of Countries, state, cities from array form to object form because adding or removing any element from any JSON file breaks elements index, hash or Object seems to be more scalable.

[2019-09-07 12:31] harpreetkhalsagtbit commented on #22
#20, #19, #11
related issues

[2019-09-07 12:53] harpreetkhalsagtbit commented on #18
dynamic import state and cities could be a solution for this.

[2019-09-18 07:13] MonrealRyan commented on #22
suggestions, what if you create a states folder inside of it is the list of **JSON** files `<count_code>.json`. then thru `getStates(CountryCode)` pull that json.

[2019-09-18 13:06] harpreetkhalsagtbit commented on #22
Actually, Issue is, when we import `<any>.json` it will load all json in memory. Same will happen when we will use folders. Parent will import Child and so on. When we will import parent, same thing will happen.
I was also thinking of using `dynamic imports`, but I haven't tried anything yet.

[2019-09-20 13:23] harpreetkhalsagtbit commented on #18
I have setup react-native(Latest) in Ubuntu 18.04 and tested with Andoird emulator, working fine. Would you please let me know about your environment and react-native version

[2019-09-20 14:44] maharjanaman commented on #18
It doesn't in iOS simulator.

[2019-09-21 14:41] harpreetkhalsagtbit commented on #18
Hi @maharjanaman
I have also tested it with the iOS simulator with the latest - react-native version and it works fine.
Maybe with the older version of react-native, it is failing.

So, I have added dynamic-import functionality and tested again with the iOS simulator. I have published my latest code as a beta version for this package.

Would you please also help me test this because I can't reprod

[2019-10-04 03:56] maharjanaman commented on #18
Hello, thanks for great contributions. Since, I was in hurry with releasing the app, I'd to find alternative approach for my app and hence couldn't test the beta version. If you think its working, you can close this issue.
P.S. Thanks for the support.

[2019-10-04 05:11] harpreetkhalsagtbit commented on #18
Actually, the original version is also working for me. So, I am not sure what actually was wrong. Still, I tried to fix it in this beta version.
In that case, I will remain open this P.R until someone else faces a similar issue and then I will let him use this beta version and then proceed further with this.

Thanks for replying.

[2019-10-15 10:33] marcosantomo commented on #19
I'm also from Italy and I agree with @gdm85
In my opinion, there are also regions and provinces both in the states field and this is a wrong representation.

[2019-10-15 10:57] harpreetkhalsagtbit commented on #19
OK, I will consider your suggestion and will update it soon or better if you can send me a P.R

[2019-10-15 11:22] sntM commented on #19
Just remove the 1802 state. By the way in order to have regions and provinces in two different lists there is the need to refactor all the project

________________________________
Da: Harpreet Singh <notifications@github.com>
Inviato: Tuesday, October 15, 2019 12:57:44 PM
A: harpreetkhalsagtbit/country-state-city <country-state-city@noreply.github.com>
Cc: sntM <marco.santomo@outlook.com>; Commen

[2019-10-16 10:30] gdm85 commented on #19
I have since then stopped using this library, it has plenty other issues; unsubscribing.

[2019-10-19 14:04] abhnvgupta commented on #22
I think using a streaming json parser might solve this problem.

[2020-01-06 18:09] Fahadeez opened #25 "Not all provinces and cities of pakistan is added correctly"

[2020-01-29 07:57] harpreetkhalsagtbit commented on #25
Please send a P.R.

[2020-01-29 07:59] harpreetkhalsagtbit commented on #20
#26 will fix Incorrect USA states issue.

[2020-01-30 12:35] amrita-syn opened #28 "It fails to install after latest update"
Node: 11.10.1

` > 6 | import csc from 'country-state-city';`
`               | ^`
`You might want to include a file extension in your import, or update your 'moduleFileExtensions', which is currently ['web.js', 'js', 'web.ts', 'ts', 'web.tsx', 'tsx', 'json', 'web.jsx', 'jsx', 'node'].
    See https://jestjs.io/docs/en/configuration#modulefileextensions-array-string`

Had to specify version for th

[2020-01-30 13:42] vishnuroshan opened #30 "record of Auckland is repeated twice in states.json."
Auckland is present twice in `states.json.` as id: 245 and 2604 with different `country_id`

`{
		"id": "2604",
		"name": "Auckland",
		"country_id": "157"
	}`

and

`	{
		"id": "245",
		"name": "Auckland",
		"country_id": "13"
	}`

cities in auckland are also split between them

[2020-01-31 05:21] wavemeetu opened #31 "'npm i country-state-city' @1.0.3 is not showing index.ts file."
tried to install @latest (1.0.3) which is not bringing in all the repo files in the install.
on the other hand 1.0.2 seems to be a stable one.

[2020-01-31 07:23] harpreetkhalsagtbit commented on #31
thanks, fixed now

[2020-01-31 07:24] harpreetkhalsagtbit commented on #28
Its fixed now, please check.
Thanks

[2020-01-31 08:43] #31 closed

[2020-01-31 08:43] #28 closed

[2020-03-27 05:23] arvind-adita opened #34 "Mismetching state and country data for US"
There is mismatch in data for US. Example, for Ohio State, there is ohio as a city.

![image](https://user-images.githubusercontent.com/62008502/77724532-37bf5200-7019-11ea-8d59-b33ca43ef3ae.png)

[2020-04-20 06:12] pranavburnwal opened #35 "Update Phillipines Cities."
@harpreetkhalsagtbit

We will be adding more cities for Philippines.
Can please share what will be ETA turnaroud to accept PR?

[2020-04-20 07:05] harpreetkhalsagtbit commented on #35
Will be done soon.

[2020-04-23 02:51] pranavburnwal commented on #35
Thanks!

[2020-04-23 02:51] #35 closed

[2020-06-19 10:33] jaybe78 opened #37 "Is this library still supported ?"
Many PRs and bugs have been opened and not addressed ?
Are you still working on it ?

[2020-06-25 05:59] harpreetkhalsagtbit commented on #37
I understand things are pending. But, yes it is still supported.

[2020-06-25 06:06] harpreetkhalsagtbit commented on #30
fixed

[2020-06-25 06:21] harpreetkhalsagtbit commented on #34
1. Ohio city removed
2. Byram is not a city
3. cokato is a city
4. District of Columbia is not a state nor a city - its federal district
5. Lowa is a city
6. Medfield is not a city
7. New Jersey is a state
8. Ontario is a city in californina and Oregon
9. Ramey is not a city
10. Sublimity is a city
11. Trimble is a city

This is what I got from google search, Please let me know if it is correct in

[2020-06-25 06:23] #20 closed

[2020-06-25 06:51] #30 closed

[2020-06-25 15:09] arvind-adita commented on #34
Yes, also there are many US states you can see as a city. This database need to correct.

--

Kind regards,
Arvind Saharkar

Adita Technologies
M (+91) 989 095 9696
website: www.Aditatechnologies.com<http://www.aditatechnologies.com/>

________________________________
From: Harpreet Singh <notifications@github.com>
Sent: Thursday, June 25, 2020 11:51 AM
To: harpreetkhalsagtbit/country-state-city <

[2020-06-29 18:46] beaespi commented on #34
new york is a state and new jersey is a city.

[2020-08-25 22:50] matadorhernan commented on #22
You can deepClone map objects

[2020-08-25 22:51] matadorhernan commented on #22
You can deepClone with a map function any objects to make a memory copy

[2020-08-25 22:57] matadorhernan opened #39 "Is there a way to get counties from a state?"
I need to retrieve county data as well

[2020-09-04 06:36] harpreetkhalsagtbit commented on #39
Hi @matadorhernan ,
Would you be using State Name or State Id to get Country?
I can create a function for that. Or you can send a P.R.

[2020-09-05 17:13] matadorhernan commented on #39
Hey I actually found a way to get those with a bunch of  geonames.org API calls ,
[code]

[2020-09-05 17:22] matadorhernan commented on #39
I actually meant a county so in the end I get a structure like this country >> state or provinces >> county or subprovinces >> cities villas and other settlements

[2020-09-05 20:27] harpreetkhalsagtbit commented on #39
Thanks for the effort you put in but unfortunately I want to keep it the way it is and I don't want to use any api calls.

[2020-09-14 08:53] tijlreynhout opened #40 "A lot of mistakes in belgium states"
These are the states of belgium according to the npm package.

![image](https://user-images.githubusercontent.com/32055802/93064753-3392f980-f678-11ea-9821-8c18cfda47a3.png)

These are the real states (states are called provincies in belgium)

![image](https://user-images.githubusercontent.com/32055802/93065013-7d7bdf80-f678-11ea-89d3-92aebae9febf.png)

[2020-09-17 10:42] harpreetkhalsagtbit commented on #40
I will check
thanks

[2020-09-18 21:56] maaelphd opened #41 "Update Brazil States and cities"
Modified some states and added a lot of cities was has missing. From Brazil only.
[state.txt](https://github.com/harpreetkhalsagtbit/country-state-city/files/5248396/state.txt)
[city.txt](https://github.com/harpreetkhalsagtbit/country-state-city/files/5248397/city.txt)

[2020-12-02 20:56] ThiagoFelippi opened #42 "Add black list"
# Black List

Some applications needs a black list of countries

### How to implement

You can get all countries and filter by black list array passed in argument of getAllCountries

[2020-12-08 07:42] dr5hn opened #43 "Can we use dr5hn/countries-states-cities-database ?"
@harpreetkhalsagtbit Just a suggestion,

Can we use this DB?
https://github.com/dr5hn/countries-states-cities-database

Pros:
---
- It is more robust compare to your current one.
- It is updated more frequently and hence it remains error-free.
- By using this DB, the most maximum of your issues of data erroneous will close automagically. 😄

P.S. If you want I can help you with whatever JSON format

[2020-12-08 07:44] harpreetkhalsagtbit commented on #43
@dr5hn
Please go ahead!

[2020-12-08 14:06] dr5hn commented on #43
@harpreetkhalsagtbit

I did the export according to a format that is required by this library. But I am worried about the `id` field. It doesn't match with your current one.

Do people use the `id` column?

You can check the exports here. https://github.com/harpreetkhalsagtbit/country-state-city/compare/master...dr5hn:update/Data?expand=1

[2020-12-12 11:29] dr5hn commented on #43
@harpreetkhalsagtbit Waiting for your inputs..

[2020-12-12 16:45] harpreetkhalsagtbit commented on #43
I want to get rid of these Ids and use country state city codes. But not all cities/states have unique codes

[2020-12-12 16:45] harpreetkhalsagtbit commented on #43
.

[2020-12-13 13:33] dr5hn commented on #43
@harpreetkhalsagtbit

You're right !! ID is playing important role in the database. If we migrate to this [database](https://github.com/dr5hn/countries-states-cities-database), It will become backward incompatible.

[2020-12-15 07:01] harpreetkhalsagtbit commented on #43
@dr5hn
Backward compatibility won't be any big issue. If the database is accurate and gets update regularly we can move ahead.

[2020-12-15 07:12] dr5hn commented on #43
@harpreetkhalsagtbit

Ok then Raise a PR. https://github.com/harpreetkhalsagtbit/country-state-city/pull/44

[2021-01-05 06:25] #43 closed

[2021-01-25 07:09] dr5hn opened #48 "Migration Guidelines"
@harpreetkhalsagtbit We need to add Migration Guidelines from Moving v1.x to v2.x

[2021-01-26 13:31] hajjboy95 commented on #18
Not working for me tried it with react 0.6.3 and getting the following error when running `expo start --ios`

[code]

[2021-01-28 06:01] priyanshi-birla opened #49 "Flag is not showing on Chrome browser"
Hi @harpreetkhalsagtbit,

I am facing an issue in displaying flags of country in cross browser platform. Country flag is visible on Mozilla Firefox but same is not working on Google Chrome.

Angular Version: 10.1.x

Please check attached image

This SS from Mozilla Firefox
![image](https://user-images.githubusercontent.com/48905859/106096623-ed888f00-615b-11eb-9028-e1753fc28bb1.png)

This SS from

[2021-01-28 11:56] ghostdevv opened #50 "Errors with @rollup/plugin-commonjs"
I had to disabled the commonjs plugin for rollup as it causes this package to error when importing

[2021-01-31 20:43] kamalkech opened #51 "Morocoo | State Code"
in version 2.0.0 of country-state-city package, for example  i found city agadir info is :

[code]

the state code is 09 not ASZ, mean agadir in state Souss-Massa:
{
        "name": "Souss-Massa",
        "isoCode": "09",
        "countryCode": "MA",
        "latitude": "30.27506110",
        "longitude": "-8.13385580"
}

hope to fixe this issues and anothers cities and share link when you import

[2021-02-09 21:41] andrehsmendes opened #52 "United States Minor Outlying Islands - Missing information"
Missing: **countryCode**

Don't we need the countryCode here?

[2021-02-10 15:02] #52 closed

[2021-02-25 12:48] harpreetkhalsagtbit commented on #51
Hi @kamalkech

Regarding v2.0.0
1. It is not backward compatible with previous versions.
2. We have also removed proprietor Index Ids for uniquely identifying Country, State, City. Instead, now we are using standard iso-codes.

Please use earlier version if you still need previous state code.

[2021-02-25 14:41] kamalkech commented on #51
@harpreetkhalsagtbit thank you for response, i already check last version and i found too many data that not correct like many cities are not in the correct state.
Hope in the futur features or new version fixe all those issues

[2021-03-03 13:13] AlvaroBrasilia commented on #18
I am getting this error when try to `import csc from 'country-state-city'` in react-native project.

` ERROR    RangeError: Maximum call stack size exceeded.
`

[2021-03-29 15:49] natashajaved opened #53 "How to get state name?"
csc.getCitiesOfCountry(countryCode) gives array of cities with state code, I need to display state name. Is there a way I could get the state/province name?

P.S I did use getStateByCode() but in case of KP I should get Khybar Pakhtoon Khuwa but I get Kuyavian-Pomeranian Voivodeship

[2021-04-17 14:17] hongzhou85 commented on #18
This error is happens for react-native

[2021-04-22 23:39] dannydanzka commented on #18
With React Native 0.63.4 and version 2.0.0 of country-state-city it throws the error ERROR RangeError: The maximum size of the call stack was exceeded. As well as in the iOS and Android emulator, and in the physical Android device.

However if I run debug mode, I can work normally Android and iOS emulator, but the physical Android device cannot.

[2021-05-02 09:26] #53 closed

[2021-06-05 13:41] Sergei-Karpuk98 opened #58 "Usage with react for ios"
When I use this library with reactive projects, I get the error Maximum call stack size exceeded. Only on phones with IOS

[2021-06-06 10:41] dr5hn commented on #49
@priyanshi-birla This article on StackOverflow may solve your issue.
https://stackoverflow.com/questions/54519758/flag-emojis-not-rendering/54663926

[2021-06-07 22:02] taylorthurlow opened #60 "Bundle size extremely large due to inclusion of cities database"
Hi, I'm wondering if there are any plans to address the size of the included JSON database. Uncompressed, the countries, states, and cities databases are more than 16 megabytes, which is still more than 2.5 when fetched with a browser, gzip compressed.

This is sort of a deal-breaker for using this application in production for just countries and states, but would be 100% more usable if there were

[2021-06-09 20:11] taylorthurlow commented on #60
Opened #62 to address this

[2021-06-10 18:41] dr5hn commented on #60
@taylorthurlow
This looks like a critical issue, thanks for putting this up !!

It certainly needs an attention @harpreetkhalsagtbit

[2021-06-11 17:49] TAnas0 commented on #60
Interested for the same reasons. My bundle size is getting too big, I started thinking of dropping the NPM package.
Once PR #62 is released, it'd be glad to test it.

[2021-06-11 18:08] harpreetkhalsagtbit commented on #60
@dr5hn @taylorthurlow @TAnas0
I will pick this up tomorrow.

[2021-06-11 19:03] taylorthurlow commented on #60
Great to hear, thanks. I just pushed up rewritten and passing tests to #62.

[2021-06-12 15:55] harpreetkhalsagtbit commented on #60
I have refactored all package.
Please test beta version - `npm i country-state-city@2.1.0-beta.2`

@taylorthurlow @dr5hn @TAnas0

[2021-06-12 15:59] harpreetkhalsagtbit commented on #58
I have refactored all package to reduce bundle size - implements Tree shaking.
Please test beta version - `npm i country-state-city@2.1.0-beta.2`

Although this fix was for some other issue. It would be great help if you can test for your issue as well. I hope this would work if you will import Country, State only. I don't have XCode setup in my machine, I can't test.

[2021-06-19 15:47] #60 closed

[2021-06-27 04:14] kishanio opened #66 "Return Undefined?"
Is there a reason why we return empty string and not undefined,

https://github.com/harpreetkhalsagtbit/country-state-city/blob/a6ed49591b9c836948fde4fb4c3219d93187b5a5/lib/country.ts#L7

[2021-06-28 10:49] harpreetkhalsagtbit commented on #66
@kishanio thanks for pointing this out. I was confused here - should have go with the `undefined` in the first place.

[2021-06-30 09:09] kishanio commented on #66
@harpreetkhalsagtbit yes. Do you want me to take a look at this?

[2021-07-01 07:00] harpreetkhalsagtbit commented on #66
Thanks.....But I have made the changes... will add more tests and release this weekend.

[2021-07-06 14:51] harpreetkhalsagtbit commented on #66
fixed and released

[2021-07-06 14:51] #66 closed

[2021-07-15 10:45] Fiyaz6772 commented on #18
I am still getting this error
ERROR  RangeError: Maximum call stack size exceeded.
 ERROR  TypeError: undefined is not an object (evaluating '_$$_REQUIRE(_dependencyMap[7], "country-state-city").Country')
These are my versions.
    "country-state-city": "^3.0.1",
    "react": "17.0.1",
    "react-native": "0.64.2",

[2021-07-21 10:07] gettoknowdavid opened #67 "Nigeria | Missing States"
Some states in Nigeria are missing - the FCT (Abuja) and Rivers State.

`[
0: {name: "Abia State", isoCode: "AB", countryCode: "NG", latitude: "5.45273540", longitude: "7.52484140"}
1: {name: "Adamawa State", isoCode: "AD", countryCode: "NG", latitude: "9.32647510", longitude: "12.39838530"}
2: {name: "Akwa Ibom State", isoCode: "AK", countryCode: "NG", latitude: "4.90573710", longitude: "7.853667

[2021-07-22 07:35] harpreetkhalsagtbit commented on #67
@dr5hn can you please look into this?

[2021-07-23 07:07] dr5hn commented on #67
@harpreetkhalsagtbit Sure i can take this up.

[2021-07-23 07:45] harpreetkhalsagtbit commented on #67
thanks @dr5hn

[2021-07-24 10:51] dr5hn commented on #67
@gettoknowdavid Fixed in #68

@harpreetkhalsagtbit Please review.

[2021-07-28 21:57] JakeAi commented on #60
Why was this issue closed? It didn't fix tree shaking. Bundles are still 17+mb

[2021-07-29 10:28] gettoknowdavid commented on #67
Thanks a lot. Working well.

[2021-07-29 10:28] #67 closed

[2021-08-14 10:57] amk-cb commented on #18
Error: Requiring module "node_modules/country-state-city/dist/index.js", which threw an exception: RangeError: Maximum call stack size exceeded.

[2021-08-14 10:59] amk-cb commented on #18
It is working fine in simulators but in real device it is throwing error.

[2021-09-02 20:23] cmacdonnacha commented on #60
Same here, bundle size is 17Mb.

[2021-09-03 09:33] cmacdonnacha commented on #60
@taylorthurlow Can you verify that tree shaking now works for you?

[2021-09-03 10:27] harpreetkhalsagtbit commented on #60
@cmacdonnacha @taylorthurlow @dr5hn
I tested this before merging. I don't know whats wrong. I didn't get time to check this again.

Would you all please share the package version you are testing and also share some code that fails.

[2021-09-03 10:29] cmacdonnacha commented on #60
Sure, package version is `3.0.1` and same code is

[code]

[2021-09-03 17:48] taylorthurlow commented on #60
Sorry my priorities changed and I haven't switched over from my fork yet.

[2021-10-02 11:58] devhus opened #73 "Incorrect naming method for States and Cities of Arabian countries"
Hello,
There is an issue across all cities and few states of Arabian countries, Where some cities are named using non-English characters. For example, in Egypt -> Cairo you will find a city called ``Ḩalwān`` which is written in a weird way even for Egyptians because it should be ``Helwan`` as mentioned in Wikipedia here https://en.wikipedia.org/wiki/Helwan
The issue is not only in Cairo city of Eg

[2021-10-06 11:18] elarens opened #74 "Incorrect state attribution in multiple city objects"
A number of municipalities, such as Irkutsk, Yerbogachen, Zalari, Yelantsy, Ust’-Kut, Tulun etc. (100 to 145 in total, by my estimation) were assigned the stateCode "UA-40" instead of "IRK"

[2021-10-11 15:05] Fiyaz6772 commented on #18
I am still getting this error
ERROR RangeError: Maximum call stack size exceeded.
ERROR TypeError: undefined is not an object (evaluating '_$$_REQUIRE(_dependencyMap[7], "country-state-city").Country')
These are my versions.
"country-state-city": "^3.0.1",
"react": "17.0.1",
"react-native": "0.64.2",

[2021-10-12 16:18] tobiasweibel opened #77 "Move copy-webpack-plugin to dev dependencies"
I think the 3rd party copy-webpack-plugin needs to be moved to the dev dependencies as it's normally used for the build system.

https://github.com/harpreetkhalsagtbit/country-state-city/blob/140d6a166fdc039175c4ff7b3912342e6cc1c2b4/package.json#L62-L64

[2021-11-08 21:23] nikopolidi commented on #58
Same thing with react-native iOS. Unable to used that package with iOS.
EXPO SDK 43 and below
Maximum call exceeded if I try to use any method.

[2021-11-29 01:51] elarens opened #80 "Multiple duplicates (cities with the same name, country and state)"
Below is the list of parameters of all duplicate cities. Some occur multiple times, it means that there are more than 2 duplicate objects in the data. E.g., San Antonio in Philippines, Agusan del Sur province (["San Antonio", "PH", "AGS"]) is mentioned 5 times in the data, therefore, 4 corresponding duplicates are specified below.

[
  ["Arnoldstein", "AT", "2"],
  ["Bad Kleinkirchheim", "AT", "2"

[2021-12-16 11:08] Gidmark opened #81 "Angular warnings because of commonjs"
When building with Angular you get this warnings:

[code]

I suggest that you have a ES version as well since at the moment the generated js will include Cities even though I only import Countries and States:
[code]

[2021-12-16 13:26] Gidmark commented on #81
See https://github.com/harpreetkhalsagtbit/country-state-city/pull/82

[2021-12-30 03:08] JosiasBatista commented on #18
I'm also getting this error "RangeError: Maximum call stack size exceeded."
And "Error: Requiring module "node_modules\country-state-city\dist\index.js", which threw an exception: RangeError: Maximum call stack size exceeded."

I don't know what's happening.

[2022-02-01 08:52] odedgolden commented on #58
Hi @harpreetkhalsagtbit , thanks for this library!

Do you have any direction on how to fix it?

I also had no problem running it on Android emulators and iOS simulator.
However, when running on a real device, even just importing the library causes the Maximum call stack size exceeded error.

If you have any direction perhaps I can help fixing it.

[2022-02-01 13:54] samarthya-jha opened #83 "Get city details from country code and state name"
There must be a way to have a function getCitiesOfStateByName ( countryCode, stateName ) where in we can fetch the city list by first fetching the stateCode from the database using the stateName and countryCode (maybe using getStatesOfCountry).

[2022-02-01 16:42] harpreetkhalsagtbit commented on #58
I had applied - tree shaking in the module to reduce load during import but after the release got to know it is not working as expected although I released it after proper checking. I am not sure what went wrong.

If somehow we can fix that tree shaking part hopefully it would start working for some people.
@odedgolden

[2022-02-17 11:53] KrishnanRoobanraj commented on #18
While im using this package , RangeError: Maximum call stack size exceeded
I can't able to use my emulator also

[2022-02-22 16:09] mathycoder commented on #60
Hi, any updates on this?  My bundle is also over 16 MB, and it seems impossible to tree shake city.json.

[2022-02-28 08:07] AvnerGuyAvrahamCom opened #84 "Code sandBox dosnt work on Iphone real device"
Hi
I have this code sample and it doesn’t open in Iphone real device.
dose anyone know why?

https://77f2sv.csb.app/

[2022-03-24 05:12] abhijith-astrum opened #86 "Add Option to get a single City object from country code, state code and city name"
This will be really helpful in cases where we are using the entire city object as the value in a dropdown.

[2022-04-16 12:49] adrienclay36 commented on #18
Still nothing on this?

[2022-04-25 18:49] maybeolivier opened #90 "[Feature Request] add continents"
Continents add valuable context to a country object. Moreover, they are useful in grouping countries together.

[2022-05-01 01:34] lucasff commented on #77
agreed, why the hell I get a warning saying I need it as a peerDependencies ?

[2022-05-31 05:22] TechBulls1996 opened #92 "Indian City name issues - Bengaluru, Bhubaneswar"
Hi Buddy,

**I faced few issues:**

1. Bangalore Rural, Bangalore Urban, and Bangalore to simple **Bengaluru**.
2. Bhubaneshwar to be corrected with **Bhubaneswar**.

[2022-05-31 05:35] harpreetkhalsagtbit commented on #92
@dr5hn Can you please check this

[2022-06-03 19:11] dennisteambrandit opened #93 "bundle size too large"
have issues with large bundle size (about 2mb from just city/country/state data). when looking at bundle chunk, every city/country/state is being saved in the chunk even when i am only trying to import retrieve one country.

import {Country, State, City} from 'country-state-city';
const allCountries = Country.getCountryByCode('US')

[2022-06-06 08:59] harpreetkhalsagtbit commented on #93
have you tried this

``import {Country } from 'country-state-city';`

instead of

`import {Country, State, City} from 'country-state-city';`

[2022-06-23 19:57] jacobrichichi commented on #93
Bro, you have a json file with over 1,000,000 lines in it, defining literally every single city that exists on planet Earth. A third of our bundle size is used just on this one package.

[2022-06-23 19:58] jacobrichichi opened #97 "Hello"
sorry

[2022-07-04 03:03] phiho2419 opened #98 "It doesn't have city code"
It only have state code and country code but city hasn't code

[2022-07-11 07:35] muthukumarAirline opened #99 "I am unable to get cities for UK. I am using City.getCitiesOfState(countryCode, stateCode) method to get a city"

[2022-08-15 01:32] annk-inspify opened #102 "Switzerland states are incorrect"
**States List issue**
As i researched, Switzerland has 23 cantons but the lib returned 25, and no need to start with Canton of.
![image](https://user-images.githubusercontent.com/106136475/184563478-4527ff0c-470a-44d5-a144-371de7e7ec0b.png)

expected list:
https://www.about.ch/cantons/index.html

[2022-08-16 18:06] soury opened #103 "Bourkina Faso States are incomplete"
### Bourkina Faso States are incomplete and City.getCitiesOfState returned always empty array

[2022-08-17 14:31] harpreetkhalsagtbit commented on #99
try this - @muthukumarAirline
[code]

[2022-08-17 15:01] harpreetkhalsagtbit commented on #103
@soury
check this

[code]

[2022-08-17 15:11] harpreetkhalsagtbit commented on #102
@dr5hn

[2022-08-17 15:32] harpreetkhalsagtbit commented on #103
@dr5hn seems like some mapping issue with the state code

    {
        "name": "Bazega Province",
        "countryCode": "BF",
        "stateCode": "07",
        "latitude": "11.91667000",
        "longitude": "-1.50000000"
    },

[2022-08-17 15:46] soury commented on #103
[code]
the called `Country.getCountryByCode(code);` does not exist, it's `State.getStatesOfCountry(countryCode)`  the list returned by this call are provinces and regions instead of provinces

[2022-08-18 15:57] harpreetkhalsagtbit commented on #58
@odedgolden can you check this with the latest release? Thanks

[2022-08-19 04:19] jessica1401 opened #108 "V3.0.5 is giving error -> "Can't resolve fs""
After updating my version to 3.0.5, It's giving me an error that "Can't resolve fs".
The case of this error is in node_module/country-state-city

[2022-08-19 04:47] jonathan-mcewan commented on #108
looks like this PR broke it 13hours ago: https://github.com/harpreetkhalsagtbit/country-state-city/pull/106

[2022-08-19 05:04] jonathan-mcewan commented on #108
@jessica1401 I just rollback to 3.0.4 :man-shrugging:

[2022-08-19 05:56] harpreetkhalsagtbit commented on #108
@jonathan-mcewan @jessica1401 I will revert this release soon.

[2022-08-19 06:45] harpreetkhalsagtbit commented on #108
reverted

[2022-08-19 22:28] #108 closed

[2022-08-19 22:29] #97 closed

[2022-08-19 22:35] harpreetkhalsagtbit commented on #93
Next.js with Production Build

1. with - `import {Country, State, City} from 'country-state-city'
![Screen Shot 2022-08-20 at 4 02 46 AM](https://user-images.githubusercontent.com/2958292/185715524-a9ea0e76-ca1b-4687-8766-eb7237c8fa63.png)

2. with - `import { Country } from 'country-state-city'
![Screen Shot 2022-08-20 at 4 04 55 AM](https://user-images.githubusercontent.com/2958292/185715629-c04

[2022-08-19 22:39] harpreetkhalsagtbit commented on #81
Next.js with Production Build

1. with - `import {Country, State, City} from 'country-state-city'
![Screen Shot 2022-08-20 at 4 02 46 AM](https://user-images.githubusercontent.com/2958292/185715524-a9ea0e76-ca1b-4687-8766-eb7237c8fa63.png)

2. with - `import { Country } from 'country-state-city'
![Screen Shot 2022-08-20 at 4 04 55 AM](https://user-images.githubusercontent.com/2958292/185715629-c04

[2022-08-22 19:32] owainjones74 commented on #93
I also have this issue.

What I import.
`import { Country }  from 'country-state-city';`
How I use it.
`{{ props.user?.country_code ? Country.getCountryByCode(props.user.country_code).flag : '' }}`

This is how big my build is including this.
![](https://i.notgyazo.club/czSq9hZWW.png)

This is how big my build is when I remove the above 2 lines
![](https://i.notgyazo.club/eIbvhaEej.png)

I'm using

[2022-09-02 12:24] bharat2913 commented on #18
I'm getting the same error. Anyone found a fix?
And what are you using as it's working fine in React Native

[2022-09-02 17:51] pjwise-korio opened #117 "Not seeing anything currently to configure ISO code to use. Can this be done fairly easily?"
Looking to be able to possibly use ISO Numeric or ISO 3 instead of ISO 2 I'm seeing in the Demo.

[2022-09-04 03:33] jsw opened #118 "3.1.1 missing types"
This import works in 3.0.1 but not 3.1.0

[code]

[code]

I notice there is no longer a `dist/index.d.ts` as referenced in `package.json`.
The file has been moved to `lib` in 3.1.0.

[2022-09-04 03:46] jsw commented on #118
I see it's been fixed in 3.1.1. Thanks! I didn't see the release on github.

[2022-09-04 05:48] jsw commented on #118
Actually, it appears 3.1.1 has the same issue. There is no dist/index.d.ts in the distribution.

[2022-09-06 15:36] harpreetkhalsagtbit commented on #118
@jsw
thanks, I actually updated the master but seems like somehow it didn't get published properly

[2022-09-06 15:39] harpreetkhalsagtbit commented on #118
@jsw just published `3.1.2` - Please check.

[2022-09-06 16:48] harpreetkhalsagtbit commented on #117
@pjwise-korio PRs are welcome!

[2022-09-06 19:02] jsw commented on #118
`3.1.2` works. Thanks for the quick turnaround.

[2022-09-06 19:02] #118 closed

[2022-09-08 19:20] Darmolar commented on #18
I had the same issue with react native.

I changed the export default {} from the js files to just export {} and it worked.

[2022-09-09 11:11] anuragipankaj commented on #18
@Darmolar can you please explain in which file?

[2022-09-09 13:48] Darmolar commented on #18
<img width="392" alt="Screenshot 2022-09-09 at 14 44 34" src="https://user-images.githubusercontent.com/33188026/189364459-9c06b42f-3dad-4a79-be5f-805b90c36cdb.png">

remove the default from that export part.

Please note that the cities might crash your application because the file has too much data.
I suggest the creator uploads the cities into a database and queries from the database instead of

[2022-09-11 13:00] stoXmod commented on #40
I was used this package and have many errors with Belgium. This maybe helpful to someone.

`
Antwerpen:
["Aartselaar", "Antwerpen", "Arendonk", "Baarle-Hertog", "Balen", "Beerse", "Berlaar", "Boechout", "Bonheiden", "Boom", "Bornem", "Borsbeek", "Brasschaat", "Brecht", "Dessel", "Duffel", "Edegem", "Essen", "Geel", "Grobbendonk", "Heist-op-den-Berg", "Hemiksem", "Herentals", "Herenthout", "Herselt

[2022-09-26 05:58] denisovan31415 opened #120 "lat and lang of certain places are completely off"
These are all of the states returned for Singapore:

[code]

Only the lat and long of the first element is correct. The lat and long for all of the rest are completely wrong. Those lat and longs points to some location in the USA.

[2022-09-29 15:23] gorilla-James opened #122 "I am not able to add fetch counties by states (USA)"
Hi! It would be nice to add the feature of fetching counties for a given state. Some countries may not have that structure but for countries like USA it would be really helpful

[2022-10-06 06:53] harpreetkhalsagtbit commented on #120
@dr5hn Can you please check this?

[2022-10-06 07:01] harpreetkhalsagtbit commented on #122
@gorilla-James
I am afraid but you have to follow a long path for this. Bcoz even if you have state code - you may get multiple states from different countries, which you won't expect but many countries can have same state code. So you better have both state code and country code.

And, The long path is:
1. Get all states
2. Filter out state based on State name/code or country code if you have
3.

[2022-10-06 15:53] neilanthonyte opened #123 "Maximum Call Stack Size error"
<img width="317" alt="Screen Shot 2022-10-06 at 11 49 48 PM" src="https://user-images.githubusercontent.com/99723639/194360269-f5ffb39b-0930-4bc1-92a2-d26bf17afc63.png">
Hi I am having an issue when using the method: `State.getStatesOfCountry`, it shows an error above.

[2022-10-12 19:13] urwa786 commented on #123
I am facing the same issue on ios

[2022-10-16 03:35] ribbonhood commented on #123
+1, Faced the same issue recently. Had to change my import from `import { State }  from 'country-state-city'` to `import {getStatesOfCountry} from "country-state-city/lib/state"`. I don't know what the implications are so please fix or let us know if this is an acceptable workaround

[2022-10-26 17:59] Lasutriv commented on #123
FYI: I too am experiencing the same issue but intermittently.

[2022-10-27 09:52] gypsicoder commented on #123
@ribbonhood
Anyway, thank you for posting the workaround.